@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cyber-bg: #0a0f1d;
  --cyber-neon: #00ffcc;
  --cyber-accent: #ff00ff;
  --cyber-secondary: #00ccff;
}

body {
  background: var(--cyber-bg);
  color: #e0e0e0;
  font-family: 'Orbitron', sans-serif;
  padding: 0.5rem 0.5rem;
  border-radius: var(--radius-2xl)
}

.neon-text {
  text-shadow: 0 0 5px var(--cyber-neon), 0 0 10px var(--cyber-neon), 0 0 20px var(--cyber-accent);
}

/* Define glow as a standalone CSS class */
.glow {
  box-shadow: 0 0 10px var(--cyber-neon), 0 0 20px var(--cyber-secondary), 0 0 30px var(--cyber-accent);
  background: var(--cyber-bg); /* Ensures the background matches the outer glow */
  border-radius: inherit; /* Inherits the border-radius from the parent element */
  overflow: hidden; /* Clips inner content to match the rounded edges */
}

.cyber-button {
  background-color: var(--cyber-accent);
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0.25rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
}
.cyber-button:hover {
  background-color: var(--cyber-secondary);
}